<div class="flex-container" *ngIf="savaalTopics.length > 0">
  <div class="container" *ngFor="let savaalTopic of savaalTopics">
    <div [ngClass]="savaalTopic.isFlipped ? 'flipped' : ''" class="card">
      <div class="front">
        <h2>{{ savaalTopic.topic }}</h2>
        <div class="arrow-icon" (click)="savaalTopic.flip()">
          <i class="ion-ios-arrow-back"></i>
        </div>
      </div>
      <div class="back">
        <h2>{{ savaalTopic.description }}</h2>
        <div class="arrow-icon" (click)="savaalTopic.flip()">
          <i class="ion-ios-arrow-back"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<p *ngIf="savaalTopics.length <= 0" class="mat-body-1 info-text">
  No Topics Yet!!!
</p>
