mat-card {
  width: 80%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

.flex-container {
  display: flex;
}

#topic-form {
  width: unset;
  flex-grow: 1;
}

#description-form {
  width: unset;
  flex-grow: 2;
}
